@font-face {
    font-family: InstrumentSans;
    src: url("../font/InstrumentSans-Regular.eot") format("eot");
    src: url("../font/InstrumentSans-Regular.ttf") format("ttf");
    src: url("../font/InstrumentSans-Regular.woff") format("woff");
    src: url("../font/InstrumentSans-Regular.woff2") format("woff2");
  }
  